<body>
    
    hello everyone
<button id="any">Hello</button>
</body>
<script src="https://code.responsivevoice.org/responsivevoice.js?key=1tM6Z3pZ"></script>
<script>
   
(responsiveVoice.enableWindowClickHook())
window.addEventListener('click',()=>{
    responsiveVoice.speak('welcome')
})
    document.getElementById('any').addEventListener('click',function(){responsiveVoice.speak("hello world");})
//responsiveVoice.addEventListener("OnReady", ()=>{console.log('urn'),responsiveVoice.speak('run')});

    //document.addEventListener("DOMContentLoaded", function(){responsiveVoice.speak("hello world")});
</script>