<head>
    <title>Main</title>
    <link rel="stylesheet" type="text/css" href="/style/style.css">
</head>

<body>
    <center>
        <h1 style="color: gray; font-size: 50px;">Voice Recognition Browser</h1>
    </center>
    <div style="margin-left: 150px;">
        <div style="height: 100px;">
            <a href="/news"><img src="/img/newsicon.png" id="newsicon"></a>
            <a href="/form"><img src="/img/formicon.png" id="newsicon"
                    style="margin-left:600px;height:140px;margin-bottom:25px"></a>
        </div>

        <div style="margin-top:40px;margin-left:200px ">
            <a href="/mail"><img src="/img/mailicon.png" id="mailicon"></a>
            <a href="/pdf"><img src="/img/docicon.png" style="height:150px;margin-left:120px;margin-bottom:40px"></a>
        </div>
    </div>

    <script src="//cdnjs.cloudflare.com/ajax/libs/annyang/2.6.0/annyang.min.js"></script>
      <script src="https://code.responsivevoice.org/responsivevoice.js?key=1tM6Z3pZ"></script>

    <script>
        window.addEventListener('click',function(){responsiveVoice.speak('Hello')
        responsiveVoice.speak('Speak News. to listen about the latest headlines')
        responsiveVoice.speak('Speak Mail. to send a mail to someone')
        responsiveVoice.speak('Speak search. to search for a keyword')
        responsiveVoice.speak('Speak reader. to let us read out a pdf.')
        })
        if (annyang) {

            var commands = {
                'hello': function () { alert('Hello world!'); },
                'news': function () {

                    window.open('/news', '_top');
                },
                'search': function () {
                    window.open('/trysearch', '_top')
                },
                'mail': function () {
                    window.open('/mail','_top');
                },
                'document': function () {
                    window.open('/texthtml', '_top')
                },
                'reader': function () {
                    window.open('/pdf', '_top')
                },
                'close':function(){
                
                    responsiveVoice.speak('GoodBye')
                    window.close()
                },
                'reload':function(){
                    window.open('/','_top')
                },
                'cancel': function(){
                    responsiveVoice.cancel()
                }


            };


            annyang.addCommands(commands);

            annyang.start();
        }


    </script>


</body>