<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Document</title>

    <link rel="stylesheet" type="text/css" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

    <!--jQuery library -->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Latest compiled Javascript -->
    <script type="text/javascript" src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <script src="http://code.jquery.com/jquery-1.10.2.js"></script>




</head>

<body style="background-color: burlywood;">
    <div class="container">
        <div>
            {{data}}
        </div>

        <div style="display: none;" id="bodycon">
            {{dataToRead}}
        </div>

        <div id="braille" style="display:none">
            <h3>The braille of the pdf text</h3>
            <div>
                {{code}}
            </div>
        </div>
    </div>

    <script src="//cdnjs.cloudflare.com/ajax/libs/annyang/2.6.0/annyang.min.js"></script>
    <script src="https://code.responsivevoice.org/responsivevoice.js?key=1tM6Z3pZ"></script>



    <script>

        window.addEventListener('click', onloadspeak)
        function onloadspeak() {
            console.log('run')
            responsiveVoice.speak('This is the PDF reader page')
            responsiveVoice.speak('Say speak to read out the PDF')
        }


        responsiveVoice.enableWindowClickHook();



        if (annyang) {

            var commands = {
                'home': function () { window.open('/', '_top'); },
                'print': function () {
                    $("#braille").fadeIn();
                },
                'speak': function () {
                    responsiveVoice.speak(`content of the PDF is ${document.querySelector('#bodycon').textContent}`)
                },
                'pause': function () {
                    responsiveVoice.pause()
                },
                'resume': function () {
                    responsiveVoice.resume()
                },
                'cancel': function () {
                    responsiveVoice.cancel()
                },
            };


            annyang.addCommands(commands);

            annyang.start();
        }


    </script>


</body>

</html>